* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navBar {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(23, 23, 23);

    .image {
        img {
            height: 45px;
            width: 50px;
            color: #fff;
            object-fit: cover;
            border-radius: 50%;
            object-fit: cover;
        }
    }


    .icons {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        
        a {
            text-decoration: none;
            color: #fff;
            
            
            i {
                width: 30px;
                height: 30px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                background-color: #000;
                border-radius: 50%;
                border: 1px solid rgb(70, 70, 70);
                padding:7px 7px;
                font-size: 12px;
              }

        }
        
    }
}